@charset "utf-8";
/* CSS Document */

@import "url(https://fonts.googleapis.com/css?family=Oswald)";

*{
	margin:0;
	padding:0;
}

body{
	padding: 0px;
	background: url(https://i.pinimg.com/originals/19/9a/9f/199a9f3af51e81c006213c6280587e3f.jpg) no-repeat;
	margin: auto;
	display:flex;
	justify-content: center;
	background-color: #000000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


.apartado1{
	width: 100%;
	justify-content: center;
	display: flex;
	background: url(MayaAdaptado.png) no-repeat ;
	background-size:cover;
	height: 900px;
	font-weight: bold;
	color:#48FF1B;
	
	
}
.apartados{
	width: 90%;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	margin-top: 30px;
	margin-bottom: 30px;
		
	
}
	

img{
	width: 450px;
	padding: 5px;
}
	
.list-inline{
	list-style:none;
	display:flex;
	margin-top: 10px;
	
}

.home{
	margin: 10px;
}

.about{
	margin:10px;
}

.portfolio{
	margin:10px;
}

.contact{
	margin:10px;
}

.navbar-toggle{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	text-decoration: none;
	color: initial;
	height: 40px;
}

.navbar-right{
	display: flex;
	list-style:none;
	
	
	
}
.topnav {
	justify-content: space-around;
	position: fixed;
	background:rgba(192, 192, 192, 0.9);
	height: 40px;
	width: 100%;
	display: flex;
	align-self: flex-start;
	
}

.topnav {
    font-size: 16px;
    border-bottom: 2px outset rgba(192, 192, 192, 0.5);
    background: rgba(192, 192, 192, 0.9);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.topnav ul.navbar-nav li a {
background: rgba(28, 28, 28, 0.1);
color: #000;
}


.topnav .navbar-brand{
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}



.bottonmenu {
	display: flex;
	align-content: flex-end;
	width: auto;
}

footer {
	padding-top: 50px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 50px;
	background: rgba(192, 192, 192, 0.9);
	width: 100%;
	
	
}
.wrapper{
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
	

.topnav{
	width: 100%;
	padding: 20px;
	display: flex;
	
	
}

.intro{
	width: 100%;
	background: rgba(143, 185, 196,0.4);
	display: flex;
	justify-content: center;
	border-bottom: 5px solid #A49393;
	align-items: center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	height: 9%;
}

.pagina{
	color:#C70037;
	font-size: 35px;
}
.pagina2{
	color:#1B9A98;
	font-size: 20px;
}

.intro1{
	padding-top:100px;
	width: 100%;
	
}

.pagina{
	display: flex;
	
	justify-content: center;
	padding-top: 20px;
}

.social{
	width: 100%;
	padding-top: 30px;
	display: flex;
	justify-content: center;
	
}




.twitter {
	background: url(twitter.jpg);
	border-radius: 100%;
	width: 70px;
	height: 70px;	
	margin: 10px;
	
	
}

.linkedin {
	background: url(linkedin.com);
	border-radius: 100%;
	width: 70px;
	height: 70px;	
	margin: 10px;
}

.github {
	background: url(github.com);
	border-radius: 100%;
	width: 70px;
	height: 70px;	
	margin: 10px;
}

.infoper{
	width: 100%;
	padding-top: 100px;
	display: flex;
	justify-content: space-around;
}

.texto1{
	display: flex;
	justify-content: flex-start;
	margin-left: 200px;
	width: 455px;
}


.lead{
	display: flex;
	justify-content: center;
	width: 300px;
	background: rgba(226, 226, 226, 0.4);
	
}

.section-heading{
	
	width:200px;
	height: 30px;
	
}

.clearfix{
	
	width: auto;
	height: 450px;
	margin-left: 20%;
	
	
}

.fotocara{
	background: url(cara.jpg) no-repeat;
	background-size:cover;
	width: 300px;
    height:300px;
    border-radius:150px;
	margin-right: 20%;
	border: 5px solid #A49393;
}
	
#social2{
	background: url(skie.png);
	background-size:cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	
	}

.botonesSocial{
	list-style: none;
}

.lista2{
	height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	
	
}

.connect{
	padding-top: 20px;
	padding-left: 15px;
	display: flex;
	justify-content: flex-start;
	width: 400px;
}

.facebook{
	display: flex;
	justify-content: flex-start;
}

.nube{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:900px;
}

.casco{
	height: 250px;
	width: 405px;
	margin-right:10px;
}
.avion{
	height: 250px;
	width: 395px;
	margin-right:10px;
}

.jim{
	height: 250px;
	width: 405px;
	margin-right:10px;
}

.pollo{
	height: 250px;
	width: 405px;
	margin-right:10px;
}

.unity{
	height: 250px;
	width: 405px;
	margin-right:10px;
}

.captura{
	height: 250px;
	width: 405px;
	margin-right:10px;
}

#imgport{
	border: black 3px solid; 
}

#imgport2{
	border: black 3px solid; 
}

#imgport3{
	border: black 3px solid; 
}

#imgport4{
	border: black 3px solid; 
	
	
}

#imgport5{
	border: black 3px solid; 
}


#imgport6{
	border: black 3px solid; 
}


#imgport:hover{
	opacity: 0.5;
    overflow: visible;
    transition: all 0.4s ease-in-out;
}


#imgport2:hover{
	opacity: 0.5;
    overflow: visible;
    transition: all 0.4s ease-in-out;
}

#imgport3:hover{
	opacity: 0.5;
    overflow: visible;
    transition: all 0.4s ease-in-out;
}


#imgport4:hover{ 
	
	opacity: 0.5;
    overflow: visible;
    transition: all 0.4s ease-in-out;

}

#imgport5:hover{
	opacity: 0.5;
    overflow: visible;
    transition: all 0.4s ease-in-out;
}

#imgport6:hover{
	opacity: 0.5;
    overflow: visible;
    transition: all 0.4s ease-in-out;
}







